*{
    padding: 0;
    margin: 0;
}

img{
    max-height: 150px;
    width: 100px;
}

.org{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blck{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer{
    text-align: center;
    margin: 7rem;
}