@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

/* version mobile pas encore fini a retrouver dans le fichier save.css */

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  background: hsl(0, 100%, 98%);
}

main h1 {
  letter-spacing: 15px;
  text-align: center;
  font-size: 2.7rem;
  margin-top: 4rem;
}

main .top {
  font-weight: 300;
  text-transform: uppercase;
  color: hsl(0, 36%, 70%);
}

main .bottom {
  text-transform: uppercase;
  font-weight: 600;
}

.img-mobile {
  background: url(images/hero-mobile.jpg);
  height: 250px;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  padding: 2rem;
  width: 100vw;
  background: white;
}

.logo{
  height: 1.4rem;
}

.paragraphe {
  color: hsl(0, 36%, 70%);
  line-height: 1.5;
  text-align: center;
  max-width: 100vw;
  margin: 1rem 1rem 3rem 1rem;
}

.flex-container {
  display: flex;
  flex-direction: column-reverse;
}

#email-input {
  padding: 1.2rem 10rem 1.2rem 1.2rem;
  border: 1px solid rgba(206, 151, 151, 0.5);
  border-radius: 100vh;
  background: hsl(0, 100%, 98%);
}

#email-input::placeholder {
  color: rgba(206, 151, 151, 0.5);
  font-family: "Josefin Sans", sans-serif;
  padding-left: 10px;
}

.main-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input{
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit {
  position: absolute;
  padding: 1.1rem 2rem;
  right: 0.5rem;
  border: none;
  border-radius: 100vh;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));;
  cursor: pointer;
  white-space: nowrap;
  cursor: pointer;
}

