@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    /* background: url(images/bg-pattern-desktop.svg), linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    background-repeat: no-repeat;
    background-size: cover; */
}

.flex-container{
    display: flex;
}

main{
    display: flex;
    flex-direction: column;
    background: url(images/bg-pattern-desktop.svg), linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 130vh;
    justify-content: center;
    align-items: center;
}

.logo{
    height: 33px;
    width: 158px;
}

main h1{
    letter-spacing: 15px;
}

main .top{
    font-weight: 300;
    font-size: 2.70em;
    text-transform: uppercase;
    color: hsl(0, 36%, 70%);
}

main .bottom{
    text-transform: uppercase;
    font-size: 2.70em;
    font-weight: 400;
}

main p{
    color: hsl(0, 36%, 70%);
}

.right{
    background: url(images/hero-desktop.jpg);
    height: 100vh;
    width: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

