/* 8A2AFF(violet NA), #1ACFCB(bleu EMEA), #fed330(jaune CHINA), FF0000(rouge ASIA) */

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

h1 {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 600;
}

img {
  height: 315;
  width: 560px;
}

h2 {
  font-size: 3rem;
}

/* menu de navigation */

.menu-nav {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #222f3e;
  gap: 1rem;
}

.menu-nav li {
  display: flex;
}

.menu-nav a {
  padding: 1.4rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.home-nav:hover {
  background-color: #8a2aff;
}

.me-nav:hover {
  background-color: #1acfcb;
}

.exercice-nav:hover {
  background-color: #fed330;
}

.contact-nav:hover {
  background-color: #ff0000;
}

.home-nav {
  transition: 0.3s;
}

.me-nav {
  transition: 0.3s;
}

.exercice-nav {
  transition: 0.3s;
}

.contact-nav {
  transition: 0.3s;
}

/* main */

#main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #f8f8ff;
  gap: 10rem;
  border-bottom: 2px solid #8a2aff;
}

#main p {
  text-align: center;
  width: 50ch;
  padding: 2rem;
  background: rgba(138, 42, 255, 0.5);
  border: 5px solid #8a2aff;
}

#main h1 {
  margin-top: 10rem;
  text-decoration: overline;
  color: #8a2aff;
}

/* section me */

#me {
  height: 100vh;
  width: 100vw;
  background: #f8f8ff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-bottom: 2px solid #1acfcb;
}

.main-content-me {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 7rem;
}

.main-content-me p {
  width: 50ch;
  padding: 2rem;
  background: rgba(26, 207, 203, 0.5);
  border: 5px solid #1acfcb;
}

#me h2 {
  margin-top: 10rem;
  text-transform: uppercase;
  text-decoration: overline;
  color: #1acfcb;
}

/* section exercice */

#exercice {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100vw;
  background: #f8f8ff;
  border-bottom: 2px solid #fed330;
}

#exercice h2 {
  text-transform: uppercase;
  text-decoration: overline;
  margin: 3rem;
  color: #fed330;
}

.fav-ex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.btn-github-exo {
  padding: 1rem;
  margin: 3rem;
  text-decoration: none;
  background: #222f3e;
  color: #fff;
  border-radius: 100rem;
  transition: 0.3s;
}

.btn-github-exo:hover {
  background: #576574;
}

/* section contact */

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
  width: 100vw;
  gap: 2rem;
}

#contact h2 {
  text-transform: uppercase;
  text-decoration: overline;
  color: #ff0000;
  margin-bottom: 7rem;
}

#contact a,
#contact p {
  text-decoration: none;
  padding: 1rem;
}

.btn-contact {
  display: flex;
  gap: 2rem;
}

.discord {
  background: #424549;
  cursor: pointer;
  border-radius: 100vh;
  color: #7289da;
  transition: 0.3s;
}

.instagram {
  background: #222f3e;
  border-radius: 100vh;
}

.youtube {
  background: #222f3e;
  border-radius: 100vh;
}

.mail {
  background: #222f3e;
  border-radius: 100vh;
}

.discord:hover{
    background:	#282b30;
}
